    <div class="container">

            <app-user-list></app-user-list>



        <div class="content">
            <div class="links">
                <a [routerLink]="['a-propos']" class="link">À propos</a>
                <a [routerLink]="['mentions-legales']" class="link">Mentions légales</a>
                <a [routerLink]="['cgu']" class="link">CGU</a>
                <a [routerLink]="['politique-de-confidentialite']" class="link">Confidentialité</a>
                <a href="https://discord.gg/6UHSPeWm" target="_blank" rel="noopener noreferrer" class="link">
                    Discord ↗
                </a>
                </div>
                <div class="logo">
                <a [routerLink]="['']" class="logo text-color-white index2">ASMTARISTE<span class="text-color-primary">.FR</span></a>
                </div>
            </div>
            <div class="copy">
                © 2024-2025 ASMtariste.fr • Processeur Motorola 68000 • Atari ST
            </div>
        </div>
