
    <span class="label text-color-white">Cours gratuits</span>
    <h1 class="title">
        Maîtrise l'assembleur<br />
        du 68000 sur Atari ST
    </h1>
    <p class="description text-color-gray">
        Apprends à programmer en assembleur sur le légendaire Motorola 68000 de l'Atari ST.
        Cours complets, exemples pratiques et ressources téléchargeables.
    </p>

    <div class="image">
        <img src="./images/atari.jpg" alt="" />
    </div>

    <h2 class="subtitle">
        Un projet pour préserver le savoir ... et le partager !
    </h2>

    <p class="description history text-color-gray">
        Ce site a été conçu pour préserver et transmettre les connaissances liées à la programmation sur Atari ST.<br />
        Mon objectif : te permettre de comprendre en profondeur le fonctionnement du 68000 et de créer tes propres jeux
        sur cette machine mythique.<br />
        Mais maintenir ce site demande du temps et des frais d’hébergement.
        En faisant un don, tu contribues directement à sa pérennité et tu obtiens un accès à du contenu exclusif.
        Une barre de progression t’indiquera la couverture des coûts annuels d’hébergement, afin que tout soit
        transparent.
    </p>
    <p class="description text-color-gray">
        Zisquier
    </p>

    <div class="cta">
        <a href="#articles" class="btn btn--primary text-color-white">Commencer gratuitement</a>
        <a href="#premium" class="btn btn--ghost text-color-dark">Soutenir le projet</a>
    </div>
    <div class=memory text-color-gray>
        <code>[$0000-$FFFF] • Processeur Motorola 68000 • de l' Atari 520ST au 1040STe</code>
    </div>
