<div class="vkb">
  @for (row of rows; track $index) {
    <div class="vkb__row">
      @for (vkey of row; track vkey.keyCode) {
        <button
          class="vkb__key"
          [class.vkb__key--wide]="vkey.wide"
          [class.vkb__key--active]="pressed.has(vkey.keyCode)"
          (touchstart)="onTouchStart($event, vkey)"
          (touchend)="onTouchEnd($event, vkey)"
          (mousedown)="onMouseDown(vkey)"
          (mouseup)="onMouseUp(vkey)"
          (mouseleave)="onMouseUp(vkey)">
          {{ vkey.label }}
        </button>
      }
    </div>
  }
</div>
