// Text color
$text-dark: #1A1A1A;
$text-gray: #6B7280;
$text-light: #9CA3AF;
$text-primary: #00D084;
$text-white: #E5E7EB;

.text-color-primary {
    color: $text-primary !important;
}
.text-color-dark {
    color: $text-dark !important;
}
.text-color-gray {
    color: $text-gray !important;
}
.text-color-white {
    color: $text-white !important;
}


// Background color
$bg-light: #FAFAFA;
$bg-light-alpha: #fafafaf2;
$bg-dark: #0F0F0F;


.bg-color-dark {
    background-color: $bg-dark;
}

// Border color
$border-white: #E5E7EB;

// Button color
$primary: #00D084;
$primary-hover: #00B872;


// Shadow color
$shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.08);
$shadow-md: 0 4px 16px rgba(0, 0, 0, 0.12);
$shadow-lg: 0 8px 32px rgba(0, 0, 0, 0.16);






.color-red {
    color: red !important;
}

.color-blue {
    color: blue !important;
}

.color-green {
    color: green !important;
}

.color-yellow {
    color: yellow !important;
}

.color-orange {
    color: orange !important;
}

.color-purple {
    color: purple !important;
}

.color-black {
    color: black !important;
}

.color-white {
    color: white !important;
}

.color-brown {
    color: #A86954 !important;
}

.background-red {
    background-color: red !important;
}

.background-redlight {
    background-color: rgb(255, 230, 230) !important;
}

.background-blue {
    background-color: blue !important;
}

.background-green {
    background-color: green !important;
}

.background-greenlight {
    background-color: rgb(226, 255, 226) !important;
}

.background-yellow {
    background-color: yellow !important;
}

.background-yellowlight {
    background-color: rgb(255, 255, 225) !important;
}

.background-orange {
    background-color: orange !important;
}

.background-purple {
    background-color: purple !important;
}
.background-aliceblue {
    background-color: aliceblue !important;
}

.background-black {
    background-color: black !important;
}

.background-white {
    background-color: white !important;
}

.background-grey {
    background-color: grey !important;
}
.background-brown {
    background-color: brown !important;
}
