<div  id="last-articles" class="diagonalWrapper index2"></div>
<h3 class="title text-color-primary index2" >Les dernières publications<br /></h3>
<p class="description text-color-white index2">News, coding, documentation ou tutoriel ...</p>


@if(articles().length > 0) {
<div class="item">
@for(article of articles() ; track $index) {

      <article app-card [variantStyleSheet]="'home-view'"
                        [id_articles]="article.id_articles" 
                        [category_name]="article.category_name"
                        [creation_date]="article.creation_date"
                        [update_date]="article.update_date"
                        [cover]="article.cover"
                        [title]="article.title"
                        [description]="article.description"
                        [tags]="article.tags"
                        (click)="handleNavigate(article.category_name, article.slug, $event)">
      </article>
}




</div>








}
