<section id="folders" class="section">
    <div class="diagonalWrapper index2"></div>
    <h3 class="title text-color-primary index2">Les Dossiers du développeur 68000<br /></h3>
    <p class="description text-color-white index2">Ressources téléchargeables pour tes projets</p>

    <main class="main index2">
        <div class="content index2">
            @if(folders().length > 0) {
            <ul class="grid">

                @for(folder of folders() ; track folder.id_folder) {
                <li app-folder [id]="folder.id_folder" [icon]="folder.icon" [name]="folder.title"
                    [desc]="folder.description"></li>
                }
            </ul>

            }
        </div>
    </main>

    <main id="pricing"  class="main index2 ">
        <div class="content index2">
            <img class="illustration" src="images/illustration.png" alt="">
            <section app-pricing></section>
        </div>
    </main>

</section>