<div class="diagonalWrapper index2"></div>
<h1 class="title text-color-primary index2">Cours de programmation<br /></h1>
<p class="description text-color-white index2">Maîtrise l'assembleur 68000 sur Atari ST</p>

@if(isLoading()) {
  <div class="loading">Chargement...</div>
}

@if(articles().length > 0) {
  <div class="grid">
    @for(article of articles(); track article.id_articles) {
      <article app-card 
        [id_articles]="article.id_articles" 
        [category_name]="article.category_name"
        [creation_date]="article.creation_date"
        [update_date]="article.update_date"
        [cover]="article.cover"
        [title]="article.title"
        [description]="article.description"
        [tags]="article.tags"
         (click)="handleCardBtn(article.id_articles, article.slug, $event)">
      </article>
    }
  </div>
}