<div class="category">
    <p>{{category_name()}}</p>
</div>
<div class="image">
    <img class="index0" [src]="baseUrlAPI + '/articles/' + id_articles()+ '/' + cover()" alt="" />
</div>

<div class="content">
    <div class="meta">
        <span class="addr text-color-primary">$0000</span>
        <span class="date text-color-gray">{{ creation_date() | date:'dd MMM yyy': 'fr' }}</span>
    </div>
    <h3 class="title">{{title()}}</h3>
    <p class="excerpt text-color-gray">
        {{description()}}
    </p>
    <div class="meta">
        <span></span>
        <span class="date text-color-gray">mis à jour le  : {{ update_date() | date:'dd MMM yyy': 'fr' }}</span>
    </div>
    <div class="tags">
        @for(tag of tags() ; track tag.id_tags){
            <span [class]="`tag ${tag.color} ${tag.background_color}`">#{{tag.label}}</span>
        }
    </div>
</div>