<!-- <article  class="article fade-in index2" [class.visible]="isArticleVisible()"> -->
            <div class="image">
                <img class="index0" src="/images/img1.webp" alt=""/>
            </div>

            <div class="content">
                <div class="meta">
                    <span class="addr text-color-primary">$0000</span>
                    <span class="date text-color-gray">27 juin 2024</span>
                </div>
                <h3 class="title">Configurer les outils</h3>
                <p class="excerpt text-color-gray">
                    Avant toute chose, pour commencer à écrire du code, tu auras besoin de plusieurs outils.
                    Ce guide complet te montre comment installer et configurer ton environnement.
                </p>
                <div class="tags">
                    <span class="tag color-text-dark">ÉMULATEURS</span>
                    <span class="tag color-text-dark">SETUP</span>
                </div>
            </div>
        <!-- </article> -->