name: Deploy ASMtariSTe - website to VPS

on:
  push:
    branches: [ main ]
 
jobs:

  deploy:

    name: Deploy to VPS
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile.prod
        push: true
        no-cache: true
        build-args: |
           APP_ENV=production
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/asmtariste:production
          ${{ secrets.DOCKERHUB_USERNAME }}/asmtariste:${{ github.sha }}
          ${{ secrets.DOCKERHUB_USERNAME }}/asmtariste:${{ github.run_number }}
      
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_PRIVATE_KEY }}
        port: ${{ secrets.VPS_PORT }}
        script: |
          cd /var/www/applications/asmtariste/website/production

          # Récupérer la nouvelle image
          docker compose pull asmtariste-website

          # Recréer et relancer le container avec la nouvelle image
          docker compose up -d --force-recreate --no-deps asmtariste-website

          # Vérifier le statut
          docker compose ps asmtariste-website

          # Nettoyer les anciennes images
          docker image prune -f