name: Deploy ASMtariSTe - website to VPS

on:
  push:
    branches: [ staging ]
 
jobs:

  deploy:

    name: Deploy to VPS
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile.staging
        push: true
        no-cache: true
        build-args: |
           APP_ENV=staging
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/asmtariste:staging
          ${{ secrets.DOCKERHUB_USERNAME }}/asmtariste:${{ github.sha }}
          ${{ secrets.DOCKERHUB_USERNAME }}/asmtariste:${{ github.run_number }}
      
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_PRIVATE_KEY }}
        port: ${{ secrets.VPS_PORT }}
        script: |
          cd ~/asmtariste

          # Arrêter seulement le dashboard
          docker compose -f docker-compose.staging.yml stop asmtariste

          # Récupérer la nouvelle image
          docker compose -f docker-compose.staging.yml pull asmtariste

          # Relancer avec la nouvelle image
          docker compose -f docker-compose.staging.yml up -d asmtariste

          # Vérifier le statut
          docker compose -f docker-compose.staging.yml ps asmtariste

          # Nettoyer les anciennes images
          docker image prune -f